.card {
  margin-bottom: 10px;
  color: #000;
  display: flex;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 2px;
  .content {
    background: #fff;
    padding: 10px 25px;
    width: 100%;
  }
}
