
a {
  text-decoration: none;
}

html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 15px;
  }

  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 4.2rem; line-height: 110%; margin: (4.2rem / 2) 0 (4.2rem / 2.5) 0;}
h2 { font-size: 3.56rem; line-height: 110%; margin: (3.56rem / 2) 0 (3.56rem / 2.5) 0;}
h3 { font-size: 2.92rem; line-height: 110%; margin: (2.92rem / 2) 0 (2.92rem / 2.5) 0;}
h4 { font-size: 2.28rem; line-height: 110%; margin: (2.28rem / 2) 0 (2.28rem / 2.5) 0;}
h5 { font-size: 1.64rem; line-height: 110%; margin: (1.64rem / 2) 0 (1.64rem / 2.5) 0;}
h6 { font-size: 1rem; line-height: 110%; margin: (1rem / 2) 0 (1rem / 2.5) 0;}

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }

.light { font-weight: 300; }
.thin { font-weight: 200; }
